

.orden{
    padding: 1em;
}


.orden-product{
    border: 3px solid red;
    display: flex;
    flex-wrap: wrap;

    &-img{
        flex: 0.5;
        max-width: 400px;
    }

}


.orden-thx{
    font-size: 2rem;
}
span{
    cursor: pointer;
}

.btn-back{
    background-color: rgb(77, 77, 167);
    padding: 1em;
    border-radius: 8px;
    color: #fff;
}