

.menu{
    display: flex;
    border: 1px solid black;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: hotpink;
}

button{
    background-color: transparent;
    color: black;
}

.menutop-left{
    margin-left: 2em;
}

.menutop-left span{
    
        width: 200;
        font-size: 1rem;
        color: #fff;
    
}

.menutop-left p{
    border: none;

    text-decoration: none;
    color: #000;
}

.menutop-right{
    display: flex;
    align-items: center;
    height: 100%;
    width: 30%;
    justify-content: space-evenly;
}

.menutop-right__logout{
    cursor: pointer;
}